@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Chào mừng đến với AssignmentGD1</h1>
    <p>Được thiết kế và dựng nên bởi 2 thằng ngố Hồng Phúc và Danh Lâm</p>
</div>
